@mixin base-text {
    font-family: 'Roboto', 'Tahoma', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $base-color;
}
@mixin robot-main-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 58.8px;
    margin: 0;
    padding: 0;
}
@mixin robot-title-article {
    font-size: 25px;
    line-height: 35px;
    margin: 0;
    padding: 0;
}
@mixin robot-content-text {
    font-size: 18px;
    line-height: 32.4px;
    margin: 0;
    padding: 0;
    color: $grey-text;
}
@mixin yellowtail-font-base {
    font-family: 'Yellowtail', 'Brush Script MT', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 65px;
    color: $green-color;
    margin: 0;
    padding: 0;
}
@mixin default-button {
    font-size: 20px;
    line-height: 32px;
    color: $base-color;
    text-decoration: none;
    border-radius: 16px;
    display: inline-flex;
    align-items: center;
    &:focus {
        color: $green-color;
        border: none;
    }
    &:hover {
        opacity: calc(0.5);
    }
}
@mixin flex {
    display: flex;
}
@mixin flex-center {
    @include flex;
    align-items: center;
}
@mixin flex-justify-center {
    @include flex;
    justify-content: center;
}
@mixin flex-center-center {
    @include flex-center;
    justify-content: center;
}
@mixin flex-center-between {
    @include flex-center;
    justify-content: space-between;
}
@mixin flex-clumn-center {
    @include flex-center;
    flex-direction: column;
}

@mixin list-style-none {
    list-style: none;
    padding: 0;
    margin: 0;
}
@mixin arrow {
    width: 38px;
    height: 34px;
    border-radius: 50%;
    background: $blue-arrow;
    position: relative;
    &::after {
        content:"";
        background-image: url("../img/arrow.svg");
        width: 16px;
        height: 11px;
        position: absolute;
        top:  50%;
        left:  50%;
        transform: translate(-50%, -50%);
    }
}
@mixin img-background {
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}
