@mixin base-text {
    font-family: 'Roboto', 'Tahoma', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $base-color;
}
@mixin robot-main-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 58.8px;
    margin: 0;
}
@mixin robot-title-article {
    font-size: 25px;
    line-height: 35px;
}
@mixin robot-content-text {
    font-size: 18px;
    line-height: 32.4px;
}
@mixin yellowtail-font-base {
    font-family: 'Yellowtail', 'Brush Script MT', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 65px;
    color: $green-color;
    margin: 0;
}
@mixin default-button {
    font-size: 20px;
    line-height: 32px;
    color: $base-color;
    text-decoration: none;
    &:focus {
        color: $green-color;
        border: none;
    }
    &:hover {
        opacity: calc(0.5);
    }
}
@mixin flex-center {
    display: flex;
    align-items: center;
}
@mixin flex-center-center {
    @include flex-center;
    justify-content: center;
}
@mixin flex-center-between {
    @include flex-center;
    justify-content: space-between;
}
