$base-color: rgba(39, 76, 91, 1);
$green-color: rgba(126, 182, 147, 1);
$white-color: rgba(255, 255, 255, 1);
$grey-text: rgba(82, 92, 96, 1);
$grey-sell: rgba(184, 184, 184, 1);
$yellow-button: rgba(239, 211, 114, 1);
$background-icon: rgba(239, 246, 241, 1);
