@import '../../../sass/variables';
@import '../../../sass/mixin';

.about-us {
    background: $grey-background;
    padding: 130px 0 150px 0;
    &__section {
        @include flex-center;
    }
    &__img, &__content {
        width: 50%;
    }
    &__name {
        @include yellowtail-font-base;
    }
    &__title {
        @include robot-main-title;
    }
    &__text {
        @include open-sans-text;
        padding-top: 22px;
        max-width: 658px;
    }
}
.advantag {
    @include list-style-none;
    padding: 56px 0 45px 0;
    &__item {
        @include flex-center;
        &:not(:last-child) {
            padding-bottom: 25px;
        }
    }
    &__img {
        @include flex-center-center;
        width: 100px;
        height: 100px;
        background: $white-color;
        border-radius: 20px;
        margin-right: 20px;
    }
    &__content {
        max-width: 552px;
    }
    &__title {
        @include robot-title-article;
    }
    &__text {
        @include open-sans-text;
        padding: 0;
        margin-top: 9px;
        max-width: 524px;
    }
}
.link-to-shop{
    @include default-button;
    background: $base-color;
    color: $white-color;
    padding: 24px 8px 24px 33px;
    &__text {
        padding-right: 25px;
    }
    &__arrow {
        @include arrow;
    }
}
.review {
    @include img-background;
    background-image: url("./img/lemon-cinnamon.png") ;
    width: 100%;
    height: 1200px;
    &__custumer {
        @include flex-column-center;
    }
    &__title {
        @include robot-main-title;
        margin-bottom: 60px;
        &-yellowtail {
            @include yellowtail-font-base;
            margin-top: 130px;
        }
    }
    &__rating {
        @include flex-center;
        @include list-style-none;
        padding-top: 20px;
        padding-bottom: 34px;
    }
    &__content {
        @include open-sans-text;
        max-width: 870px;
        text-align: center;
    }
    &__name {
        @include robot-title-article;
        margin-top: 23px;
        &-type {
            font-family: 'Open Sans', 'Tahoma', sans-serif;
            font-size: 14px;
            line-height: 27px;
            color: $grey-text;
        }
    }
    &__line {
        width: 966px;
        height: 2px;
        background: rgba(224, 224, 224, 1);
        margin: 96px auto 100px ;
    }
    
}
.success {
    @include flex-center-center;
    @include list-style-none;
    &__cercle {
        @include flex;
        width: 250px;
        height: 250px;
        border: 6px solid $green-color;
        border-radius: 50%;
        &:not(:last-child) {
            margin-right: 30px;
        }
        &-grey {
            @include flex-column-center-center;
            border: 5px solid $white-color;
            background: rgba(241, 241, 241, 1);
            width: 240px;
            height: 240px;
            border-radius: 50%;
        }
    }
    &__value {
        font-size: 42px;
        line-height: 55px;
        margin: 0;
    }
    &__type {
        @include open-sans-text;
        color: $base-color;
    }
}
.from-our-farm {
    @include flex;
    margin: 140px 0;
    &__img,
    &__content {
        width: 50%;
    }
    &__img {
        @include img-background;
        background-image: url("./img/feild.png");
        height: 704px;
    }
    &__content {
        margin: 40px 0;
        position: relative;
        &-position {
            border-radius: 30px 0 0 30px;
            padding: 40px 60px 50px 60px;
            background: $white-color;
            position: absolute;
            left: -60px;
        }
        &-yellowtail {
            @include yellowtail-font-base;
        }
        &-title {
            @include robot-main-title;
            max-width: 303px;
        }
    }
}

.about-farm {
    @include list-style-none;
    &__title {
        @include robot-title-article;
        padding: 9px 0 4px 0;
    }
    &__text {
        max-width: 600px;
        @include open-sans-text;
    }
}