@import '../../sass/_variables.scss';
@import '../../sass/_mixin.scss';

.header {
    @include flex-center-between;
    margin: 40px 0;
}

.navigation {
    display: flex;
    &__item {
        list-style: none;
        & a {
            @include default-button;
        }
        &:not(:last-child){
            padding-right: 40px;
            
        }
    }
}
.button-cart {
    @include flex-center;
    font-size: 17px;
    line-height: 29px;
    color: $base-color;
    text-decoration: none;
    border: 1px $grey-transparent solid;
    padding: 7px 11px;
    border-radius: 33px;
    &__text {
        padding: 0 10px;
    }
    &:hover {
        & > img, span {
            opacity: calc(0.5);
        }
    }
}
