@import '../../sass/_variables.scss';
@import '../../sass/_mixin.scss';

.header {
    @include flex-center-between;
    margin-top: 40px;
}

.navigation {
    display: flex;
    &__item {
        list-style: none;
        & a {
            @include default-button;
        }
        &:not(:last-child){
            padding-right: 40px;
            
        }
    }
}
.cart {
    @include flex-center;
    font-size: 17px;
    line-height: 29px;
    color: $base-color;
    text-decoration: none;
    &__text {

    }
}
