@import '../sass/variables';
@import '../sass/mixin';

.wrapper {
    max-width: 1380px;
    min-width: 375px;
    margin: 0 auto;
}
.error {
    @include flex-column-center;
    margin-top: 100px;
    &__img {
        max-width: 500px;
        margin-top: 40px;
    }
    &__title {
        @include robot-main-title;
        text-align: center;
    }
    &__path {
        color: rgba(203,86,86,1);
    }
    &__turn {
        cursor: pointer;

    }
    &__home {
        text-decoration: none;
    }
    &__turn,
    &__home {
        color: $green-color;
        &:hover {
            opacity: calc(0.5);
        }
    }

}