@import '../../../sass/variables';
@import '../../../sass/mixin';
.header-section{
    @include flex;
    align-items: flex-end;
    justify-content: space-between;
    
    &__title {
        @include robot-main-title;
        &-white {
            color: $white-color;
        }
        &-yellowtail {
            @include yellowtail-font-base;
        }
    }
    &__link {
        @include default-button;
        padding: 25px 11px 25px 33px;
        &-white {
            background: $white-color;
            border-color: $base-color;
        }
        &-yellow {
            background: $yellow-button;
            background-color: $yellow-button;
        }
    }
    &__name {
        padding-right: 20px;
    }
    &__arrow {
        @include arrow;
    }
}

.nature-world {
    background: url("./img/natural-world.png");
    width: 100%;
    height: 913px;
    margin-top: 40px;
    &__content {
        padding-top: 220px;
    }
    &__title {
        font-weight: 700;
        font-size: 70px;
        line-height: 84px;
        max-width: 496px;
        margin: 0;
        padding-top: 14px;
        &-yellowtail {
            @include yellowtail-font-base;
        }
    }
    &__link {
        margin-top: 30px;
        @include default-button;
        padding: 25px 9px 25px 33px;
        background: $yellow-button;
        &-padding {
            padding-right: 24px;
        }
    }
    &__arrow {
        @include arrow;
    }
}
.advertisement {
    @include flex;
    margin-top: 140px;
    margin-bottom: 140px;
    &__block {
        width: 50%;
        height: 378px;
        border-radius: 30px;
        @include img-background;
        &-banana {
            background-image: url('./img/banana.png');
        }
        &-peach {
            background-image: url('./img/peach.png');
        }
        &:not(:last-child) {
            margin-right: 50px;
        }
    }
    &__content {
        margin-left: 55px;
        margin-top: 105px;
    }
    &__title {
        @include yellowtail-font-base;
        &-white {
            color: $white-color;
        }
    }
    &__text {
        font-size: 40px;
        line-height: 52px;
        max-width: 260px;
        margin: 0;
        &-white {
            color: $white-color;
        }
    }
}
.offer-product {
    background: $base-color;
    padding-top: 139px;
    padding-bottom: 160px;
    &__products {
        @include flex;
        width: 100%;
        margin-top: 48px;
    }
}
.shop-section {
    background: $background-icon;
    &__box {
        @include flex;
        padding: 140px 0; 
    }
    &__item {
        position: relative;
        &:not(:last-child) {
            margin-right: 30px;
            width: 33.33%;
        }
    }
    &__link {
        @include default-button;
        @include robot-title-article;
        padding: 30px 79px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $white-color;
        border-color: $white-color;
        white-space: nowrap;
    }
    &__img {
        width: 460px;
        height: 580px;
    }
}
.header-home {
    padding-top: 130px;
    padding-bottom: 106px;
}
.subscribe {
    @include flex-between-center;
    background-image: url('./img/orange.png');
    max-width: 1380px;
    height: 320px;
    &__title {
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        color: $white-color;
        max-width: 323px;
        padding-left: 70px;
    }
    &__form {
        
        padding-right: 80px;
    }
    &__input {
        @include open-sans-text-info;
        max-width: 350px;
        padding: 26px 30px;
        border: 1px solid $white-color;
        border-radius: 16px;
        margin-right: 10px;
        &:hover {
            opacity: calc(0.7);
        }
        &:focus {
            outline: none;
            border-color: $base-color;
            color: $base-color;
        }
    }
    &__button {
        @include default-button;
        padding: 26px 11px 26px 36px;
        background-color: $base-color;
        border-color: $base-color;
        color: $white-color;
        &-name {
            @include open-sans-heading;
            color: $white-color;
            padding-right: 25px;
        }
    }

    &__arrow {
        @include arrow;
    }
}
.news {
    @include flex;
    padding: 0 5px;
}
.news-home {
    width: 50%;
    &__img {
        &-size {
            width: 670px;
            height: 515px;
            border-radius: 30px;
        }
        &:not(:last-child) {
            padding-right: 30px;
        }
    }
}